{% extends 'base.html.twig' %}

{% block pageTitle %}Logout{% endblock %}

{% block body %}

    <h1>Logout Page</h1>

    <form action="/logout/confirm" method="POST">
        Are you are sure if you want to logout?

        <p>
            <input type="submit" value="Logout">
        </p>
    </form>



{% endblock %}