{% extends 'base.html.twig' %}

{% block pageTitle %}Logout{% endblock %}

{% block body %}



    {% set username = app.session.get('username') %}

    {% if username is null %}
        No username session
    {% endif %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1>User Profile</h1>

    <ul>
        <li><a href="/recipes/create/new">Create new Recipe</a></li>
        <li><a href="/profile/edit">Edit current recipe</a></li>
        <li><a href="">Search collections</a></li>
        <li><a href="">Account Settings</a></li>
    </ul>


{% endblock %}