{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}


    <h1>Home Page</h1>

    {% if app.user is not null %}
        Welcome Back, {{ app.user.username }}
    {% endif %}


{% endblock %}
