{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1>Home Page</h1>

        {{ dump() }}



{% endblock %}
