{% extends 'base.html.twig' %}

{% block pageTitle %}Login Page{% endblock %}

{% block body %}

    <h1>Login Page</h1>

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

        <form action="/login/processNewLogin" method="POST">
            Login form:
            <p>
                <input type="text" name="username">
            </p>

            <p>
                <input type="text" name="password">
            </p>


            <p>
                <input type="submit" value="Login">
            </p>
        </form>


{% endblock %}