{% extends 'base.html.twig' %}

{% block pageTitle %}Collections{% endblock %}

{% block body %}

    <h1>Create collections</h1>

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <form action="/collection/createNewCollection" method="POST">
        Recipe title:
        <p>
            Collection Name:<br><input type="text" name="name">
        </p>

        <p>
            Collection description:<br><textarea  rows="6" cols="50" name="description">Enter description here...</textarea>
        </p>

        <p>
            <input type="submit" value="Create new collection">
        </p>
    </form>

{% endblock %}