{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}


    <h1>All Recipes Page</h1>

    <div class="main_table">

        {% for recipe in recipes %}

            <div class="recipe">
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                <br>
                <br>

                {% for tag in recipe.tags %}

                    <span>#{{ tag.name }}</span>

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ dump() }}


{% endblock %}